<footer class="bg-dark p-4 text-white text-center">
    <h2>Nos partenaires</h2>
    <hr>
    <nav class="nav d-flex justify-content-between" aria-label="Fith navbar example">
        <a class="p-2 link-secondary" href="https://www.hellowork.com/fr-fr/">Météo France</a>
        <a class="p-2 link-secondary" href="https://www.pole-emploi.fr/accueil/">Météo+</a>
        <a class="p-2 link-secondary" href="https://fr.indeed.com/">France Météo</a>
        <a class="p-2 link-secondary"
            href="https://openclassrooms.com/fr/paths/500-developpeur-dapplication-php-symfony">OpenClassRoom</a>
            &copy;MÉTÉO 58
    </nav>
</footer>