<div class="px-4 pt-2 my-5 text-center">
    <img class="d-block mx-auto mb-4 w_" src="/imagenes/e23.png" alt="" width="80" height="auto">
    <h1 class="display-3 fw-bold">MÉTÉO 58</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-1">Rapprochez-vous de <a href="#">MÉTÉO 58</a>, lorem ipsum dolor sit amet.</p>
    </div>
</div>