{% extends 'base.html.twig' %}

{% block title %}meteoSymfony{% endblock %}

{% block body %}

<p class="fs-2 fw-5 text-center text-primary my-5">
    CONNEXION REUSSIE! <br><br>
    VOUS ETES SUR LA PAGE ACCUEIL DE VOTRE SITE METEO58
</p>
<p class="fs-2 fw-5 text-center text-success my-5"><i>Cliquez pour naviguer selon vos envies</i></p>

{% endblock %}
