{% extends 'base.html.twig' %}

{% block title %}Administration: meteo{% endblock %}

{% block body %}

<h2 class="display-6 fw-bold text-center text-primary mb-5 mt-5">Administration: gérer l'éphéméride</h2>

<button type="button" class="btn btn-primary mb-5" style="float:right;"><a class="text-white" href="{{ path('app_administrator_area_dashboard') }}">Retour au dashboard</a></button>

<section>
    <div class="container mt-5">
        <div class="row">
            <?php
            foreach ($result as $ephemeride) {
            ?>
                <div class="col-md-4 mt-1 mb-5">
                    <div class="card col" style="height:550px">
                        <img src="/images/<?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['imgTemps'])))) ?>" class="card-img-top h-100">
                        <div class="card-body" style="height:200px">
                            <h3 class="card-title"><?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['titre'])))) ?></h3>
                            <p class="card-text"><?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['topo'])))) ?></p>
                            <a href="{{ path('app_administrator_area_crudmeteo_modifier') }}" class="btn btn-success active" role="button" aria-pressed="true">Modifier</a>
                            <a onclick="return confirm('Are you sure you want to delete ?')" href="deleteActu.php?idEphemeride=<?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['idEphemeride'])))) ?>" class="btn btn-danger active float-end" role="button" aria-pressed="true">Supprimer</a>
                        </div>
                    </div>
                </div>
            <?php
            }
            ?>
        </div>
        <a href="{{ path('app_administrator_area_crudmeteo_add') }}" class="btn btn-warning mb-5"><?php echo '&nbsp'; ?>Ajouter<?php echo '&nbsp'; ?></a>
    </div>
<hr>
</div>
</section>

{% endblock %}

