{% extends 'base.html.twig' %}

{% block title %}Administration: dashboard{% endblock %}

{% block body %}
<h1 class="display-6 fw-bold text-center mb-5 mt-5 text-primary">Votre dashboard</h1>

<div class='container my-2 pb-5 bg-light'>
    <div class='col-md-12 text-center'>
        <button type='button' class='btn btn-warning'><a href="{{ path('app_administrator_area_profiles') }}">Gérer les profils</a></button>
        <button type='button' class='btn btn-success'><a class="text-white" href="{{ path('app_crud_ephemeride_index') }}">Gérer l'éphéméride</a></button>
        <button type='button' class='btn btn-success'><a class="text-white" href="{{ path('app_messagerie_index') }}">Ma messagerie</a></button>
    </div>
</div>

{% endblock %}
