{% extends 'base.html.twig' %}

{% block title %}Administration: profils{% endblock %}

{% block body %}

<h2 class="display-6 fw-bold text-center text-primary mb-5 mt-5">Administration: gérer les profils</h2>
<button type="button" class="btn btn-primary mb-5" style="float:right;"><a class="text-white" href="{{ path('app_administrator_area_dashboard') }}">Retour au dashboard</a></button>

<section>
    <div class="container mb-5">
      <div class="table-responsive">
        <table class="table table-bordered table-striped m-5">
          <thead class="table__head bg-warning">
            <tr class="winner__table">
              <th>id</th>
              <th><i class="fa fa-user" aria-hidden="true">&ensp;</i>Pseudo</th>
              <th><i class="fa fa-envelope" aria-hidden="true">&ensp;</i>Email</th>
              <th><i class="fa fa-calendar" aria-hidden="true">&ensp;</i>Date</th>
              <th><i aria-hidden="true">&ensp;</i>Role</th>
            </tr>
          </thead>
          <tbody>
            <tbody>
          
              <tr>
                <td>id</td>
                <td><?php echo strip_tags(stripslashes(htmlentities(trim($user['pseudo'])))) ?></td>
                <td><?php echo strip_tags(stripslashes(htmlentities(trim($user['email'])))) ?></td>
                <td><?php echo strip_tags(stripslashes(htmlentities(trim($user['dateInscrit'])))) ?></td>
                <td><?php if ($user["statut"] == "Admin") {
                      echo ' <p class="text-danger">' . $user["statut"] . '</p>';
                    } else {
                      echo ' <p class="text-primary">' . $user["statut"] . '</p>';
                    }; ?>
                </td>
              </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </section>

<h2 class="display-6 fw-bold text-center text-primary mb-5 mt-5">Mon profil admin</h2>
  
<div class="container mt-4 mb-5">
    <div class="text-center darken-grey-text mb-4">
        <table class="table">
            <tbody>
                <tr class="table-warning">
                    <th scope="row">Mon pseudo</th>
                    <td><?php echo $_SESSION["user"]['pseudo'] ?></td>
                    <td>Modifier</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Mon e-mail</th>
                    <td><?php echo $_SESSION["user"]['email'] ?></td>
                    <td>Modifier</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

  {% endblock %}