{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

<section>

    <h2 class="display-6 fw-bold text-center mb-5 mt-5 text-primary">Espace messagerie</h2>
    <div class="container mb-5">
        <div class="col-md-12 pb-4">
            <div>
                <div class="row bg-white border border-muted rounded px-3">

                    <div class="col-md-3">
                        <div>
                            <ul class="nav flex-column mt-5">
                                <li><a href={{ path('app_messagerie_sendMessage') }} class="btn btn-block btn-primary text-white my-4" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;ÉCRIRE&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                <li class="mt-3 mb-3"><a class="fs-5" href="/boitemail/recusAdmin.php">Messages (<?php echo $msg_nbr; ?>)</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9 my-5 bg-light p-3">
                        <?php
                        if (!empty($_SESSION['erreur'])) {
                            echo '<div class="alert alert-danger" role="alert">' . $_SESSION['erreur'] . '</div>';
                            $_SESSION['erreur'] = "";
                        }
                        ?>
                        <?php
                        if (!empty($_SESSION['message'])) {
                            echo '<div class="alert alert-success" role="alert">' . $_SESSION['message'] . '</div>';
                            $_SESSION['message'] = "";
                        }
                        ?>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <?php
                                    while ($m = $msg->fetch()) {
                                    ?>
                                        <tr>
                                            <th class="fs-5"><?php echo $m['pseudo']; ?></th>
                                            <td><a class="fs-5" href={{ path('app_messagerie_detailsReceiveMessage') }}><?php echo $m['titreMessage']; ?></a></td>
                                            <td class="time"><?php echo $m['dateMess']; ?></td>
                                            <td><a class="fs-5 text-secondary" onclick="return confirm('Voulez-vous supprimer ce message?')" href="supprMessAdmin.php?idUser=<?php echo $m['idMessagerie']; ?>"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    <?php 
                                    } 
                                    ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
