{% extends 'base.html.twig' %}

{% block title %}Consulter la météo{% endblock %}

{% block body %}

<h2 class="display-5 fw-bold text-center mb-5 mt-5">Consulter la météo</h2>
<div class="container">
    <div class="row mb-5">
       
        {%  for ephem in ephemeride %}
            <div class="col-md-4 mb-5">
                <div class="card col" style="height:600px">
                    <div style="height:40vh">
                    <img class="card-img-top h-100" src={{ '/images/' ~ ephem.image }}>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="height:5vh;">{{ ephem.titre }}</h3>
                        <span class="truncate">
                        <p class="card-text truncate" >{{ ephem.description }}</p>
                        </span>
                        <button type="button" class="btn btn-primary" style="float:left;"><a class="text-white" href="{{ path('app_consulter_meteo_index') }}">Consulter</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
