{% extends 'base.html.twig' %}

{% block title %}Consulter la météo: sur 15 jours{% endblock %}

{% block body %}

<h2 class="display-5 fw-bold text-center mb-5 mt-5">Consulter la météo</h2>
<h3 class="display-6 fw-bold text-center mb-5 mt-5 text-primary">Sur 15 jours</h3>
<div class="container">
    <div class="row mb-5">
        <!--< ?php
        foreach ($result as $ephemeride) {
        ?>-->
        <div class="col-md-4 mb-5">
            <div class="card col h-100">
                <img src="/images/<?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['imgTemps'])))) ?>"
                    class="card-img-top h-100">
                <div class="card-body">
                    <h3 class="card-title">
                        <?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['titre'])))) ?>
                    </h3>
                    <p class="card-text">
                        <?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['topo'])))) ?>
                    </p>
                    <button type="button" class="btn btn-primary" style="float:left;"><a class="text-white"
                            href="details.php?idEphemeride=<?php echo strip_tags(stripslashes(htmlentities(trim($ephemeride['idEphemeride'])))) ?>">Consulter</a></button>
                </div>
            </div>
        </div>
        <!--< ?php
        }
        ?>-->
    </div>
</div>

{% endblock %}